:root {
    --bg-color: #93C08D;
    --text-color: #052628;
    --title-color: #32936F;
    --highlight-color: #D6F2D2; 
}

html * {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 4rem;
    margin: 5px 0 10px 0;
    color: var(--title-color);
}

p {
    margin: 0;
    font-size: 1.25em;
    text-align: center;
}

hr {
    border: 2px solid var(--highlight-color);
    border-radius: 2px;
    margin: 15px 0;
}

.box {
    background: #ffffff;
    margin: auto;
    width: 30rem;
    padding: 10px 15px 20px 15px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.box select, .box textarea, .mainButton {
    width: 100%;
    display: block;
    margin: 0 0 15px 0;
    padding: 10px;
}

button {
	background-color: #f9f9f9;
	border-radius: 28px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	padding: 9px 65px;
	text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    
}

button:hover {
	background-color:#e9e9e9;
}

button:active {
	position:relative;
	top:1px;
}

#convert {
    margin: 0;
}

#downloadZipButton {
    margin: 15px 0 0 0;
}

a {
    text-decoration: none;
}

.download {
    font-size: 0.8rem;
    padding:7px 10px;
    width: 30%;
}

.audioText {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 5px 0;
}

.audioLang {
    text-align: center;
    font-size: 0.75em;
    margin: 0 0 10px 0;
}

.newDiv {
    /* margin: 10px 0px; */
    padding: 0;
}

audio {
    width: 69%;
    height: 30px;
    vertical-align: middle;
}